@font-face {
  font-family: 'iconfont-vant';  /* project id 1328714 */
  src: url('//at.alicdn.com/t/font_1328714_onoumh6ygec.eot');
  src: url('//at.alicdn.com/t/font_1328714_onoumh6ygec.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1328714_onoumh6ygec.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1328714_onoumh6ygec.woff') format('woff'),
  url('//at.alicdn.com/t/font_1328714_onoumh6ygec.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1328714_onoumh6ygec.svg#iconfont-vant') format('svg');
}

.iconfont-vant {
  font-family: "iconfont-vant" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-vant-add:before {
  content: "\e600";
}

.icon-vant-add-o:before {
  content: "\e601";
}

.icon-vant-aim:before {
  content: "\e602";
}

.icon-vant-add-square:before {
  content: "\e603";
}

.icon-vant-arrow:before {
  content: "\e604";
}

.icon-vant-arrow-up:before {
  content: "\e605";
}

.icon-vant-apps-o:before {
  content: "\e606";
}

.icon-vant-ascending:before {
  content: "\e607";
}

.icon-vant-award:before {
  content: "\e608";
}

.icon-vant-arrow-down:before {
  content: "\e609";
}

.icon-vant-arrow-left:before {
  content: "\e60a";
}

.icon-vant-bag:before {
  content: "\e60b";
}

.icon-vant-audio:before {
  content: "\e60c";
}

.icon-vant-balance-list:before {
  content: "\e60d";
}

.icon-vant-balance-list-o:before {
  content: "\e60e";
}

.icon-vant-award-o:before {
  content: "\e60f";
}

.icon-vant-bag-o:before {
  content: "\e610";
}

.icon-vant-bill:before {
  content: "\e611";
}

.icon-vant-bookmark:before {
  content: "\e612";
}

.icon-vant-balance-o:before {
  content: "\e613";
}

.icon-vant-after-sale:before {
  content: "\e614";
}

.icon-vant-bars:before {
  content: "\e615";
}

.icon-vant-bell:before {
  content: "\e616";
}

.icon-vant-bookmark-o:before {
  content: "\e617";
}

.icon-vant-bar-chart-o:before {
  content: "\e618";
}

.icon-vant-bill-o:before {
  content: "\e619";
}

.icon-vant-bullhorn-o:before {
  content: "\e61a";
}

.icon-vant-cart:before {
  content: "\e61b";
}

.icon-vant-browsing-history-o:before {
  content: "\e61c";
}

.icon-vant-brush-o:before {
  content: "\e61d";
}

.icon-vant-alipay:before {
  content: "\e61e";
}

.icon-vant-balance-pay:before {
  content: "\e61f";
}

.icon-vant-birthday-cake-o:before {
  content: "\e620";
}

.icon-vant-calender-o:before {
  content: "\e621";
}

.icon-vant-cash-on-deliver:before {
  content: "\e622";
}

.icon-vant-chat:before {
  content: "\e623";
}

.icon-vant-cart-o:before {
  content: "\e624";
}

.icon-vant-cart-circle-o:before {
  content: "\e625";
}

.icon-vant-chat-o:before {
  content: "\e626";
}

.icon-vant-cart-circle:before {
  content: "\e627";
}

.icon-vant-clock-o:before {
  content: "\e628";
}

.icon-vant-certificate:before {
  content: "\e629";
}

.icon-vant-bulb-o:before {
  content: "\e62a";
}

.icon-vant-cluster:before {
  content: "\e62b";
}

.icon-vant-clear:before {
  content: "\e62c";
}

.icon-vant-card:before {
  content: "\e62d";
}

.icon-vant-column:before {
  content: "\e62e";
}

.icon-vant-circle:before {
  content: "\e62f";
}

.icon-vant-browsing-history:before {
  content: "\e630";
}

.icon-vant-close:before {
  content: "\e631";
}

.icon-vant-cluster-o:before {
  content: "\e632";
}

.icon-vant-cash-back-record:before {
  content: "\e633";
}

.icon-vant-checked:before {
  content: "\e634";
}

.icon-vant-comment-o:before {
  content: "\e635";
}

.icon-vant-completed:before {
  content: "\e636";
}

.icon-vant-coupon-o:before {
  content: "\e637";
}

.icon-vant-clock:before {
  content: "\e638";
}

.icon-vant-comment-circle-o:before {
  content: "\e639";
}

.icon-vant-cashier-o:before {
  content: "\e63a";
}

.icon-vant-contact:before {
  content: "\e63b";
}

.icon-vant-comment:before {
  content: "\e63c";
}

.icon-vant-desktop-o:before {
  content: "\e63d";
}

.icon-vant-debit-pay:before {
  content: "\e63e";
}

.icon-vant-diamond-o:before {
  content: "\e63f";
}

.icon-vant-chart-trending-o:before {
  content: "\e640";
}

.icon-vant-exchange:before {
  content: "\e641";
}

.icon-vant-failure:before {
  content: "\e642";
}

.icon-vant-closed-eye:before {
  content: "\e643";
}

.icon-vant-cross:before {
  content: "\e644";
}

.icon-vant-coupon:before {
  content: "\e645";
}

.icon-vant-edit:before {
  content: "\e646";
}

.icon-vant-fail:before {
  content: "\e647";
}

.icon-vant-envelop-o:before {
  content: "\e648";
}

.icon-vant-descending:before {
  content: "\e649";
}

.icon-vant-eye:before {
  content: "\e64a";
}

.icon-vant-ecard-pay:before {
  content: "\e64b";
}

.icon-vant-fire-o:before {
  content: "\e64c";
}

.icon-vant-description:before {
  content: "\e64d";
}

.icon-vant-credit-pay:before {
  content: "\e64e";
}

.icon-vant-filter-o:before {
  content: "\e64f";
}

.icon-vant-fire:before {
  content: "\e650";
}

.icon-vant-expand-o:before {
  content: "\e651";
}

.icon-vant-gem:before {
  content: "\e652";
}

.icon-vant-free-postage:before {
  content: "\e653";
}

.icon-vant-diamond:before {
  content: "\e654";
}

.icon-vant-delete:before {
  content: "\e655";
}

.icon-vant-gift:before {
  content: "\e656";
}

.icon-vant-ellipsis:before {
  content: "\e657";
}

.icon-vant-friends-o:before {
  content: "\e658";
}

.icon-vant-gold-coin:before {
  content: "\e659";
}

.icon-vant-gift-card:before {
  content: "\e65a";
}

.icon-vant-gold-coin-o:before {
  content: "\e65b";
}

.icon-vant-expand:before {
  content: "\e65c";
}

.icon-vant-hotel-o:before {
  content: "\e65d";
}

.icon-vant-info-o:before {
  content: "\e65e";
}

.icon-vant-graphic:before {
  content: "\e65f";
}

.icon-vant-hot:before {
  content: "\e660";
}

.icon-vant-gift-o:before {
  content: "\e661";
}

.icon-vant-discount:before {
  content: "\e662";
}

.icon-vant-label-o:before {
  content: "\e663";
}

.icon-vant-friends:before {
  content: "\e664";
}

.icon-vant-hot-o:before {
  content: "\e665";
}

.icon-vant-live:before {
  content: "\e666";
}

.icon-vant-flower-o:before {
  content: "\e667";
}

.icon-vant-info:before {
  content: "\e668";
}

.icon-vant-hot-sale:before {
  content: "\e669";
}

.icon-vant-manager:before {
  content: "\e66a";
}

.icon-vant-idcard:before {
  content: "\e66b";
}

.icon-vant-gem-o:before {
  content: "\e66c";
}

.icon-vant-manager-o:before {
  content: "\e66d";
}

.icon-vant-goods-collect-o:before {
  content: "\e66e";
}

.icon-vant-home-o:before {
  content: "\e66f";
}

.icon-vant-label:before {
  content: "\e670";
}

.icon-vant-medel:before {
  content: "\e671";
}

.icon-vant-location-o:before {
  content: "\e672";
}

.icon-vant-music-o:before {
  content: "\e673";
}

.icon-vant-new-arrival-o:before {
  content: "\e674";
}

.icon-vant-logistics:before {
  content: "\e675";
}

.icon-vant-new-o:before {
  content: "\e676";
}

.icon-vant-invition:before {
  content: "\e677";
}

.icon-vant-more-o:before {
  content: "\e678";
}

.icon-vant-other-pay:before {
  content: "\e679";
}

.icon-vant-new-arrival:before {
  content: "\e67a";
}

.icon-vant-location:before {
  content: "\e67b";
}

.icon-vant-pause-circle-o:before {
  content: "\e67c";
}

.icon-vant-gift-card-o:before {
  content: "\e67d";
}

.icon-vant-like:before {
  content: "\e67e";
}

.icon-vant-paid:before {
  content: "\e67f";
}

.icon-vant-notes-o:before {
  content: "\e680";
}

.icon-vant-map-marked:before {
  content: "\e681";
}

.icon-vant-newspaper-o:before {
  content: "\e682";
}

.icon-vant-more:before {
  content: "\e683";
}

.icon-vant-photo:before {
  content: "\e684";
}

.icon-vant-peer-pay:before {
  content: "\e685";
}

.icon-vant-pause-circle:before {
  content: "\e686";
}

.icon-vant-pause:before {
  content: "\e687";
}

.icon-vant-orders-o:before {
  content: "\e688";
}

.icon-vant-new:before {
  content: "\e689";
}

.icon-vant-like-o:before {
  content: "\e68a";
}

.icon-vant-phone-o:before {
  content: "\e68b";
}

.icon-vant-phone:before {
  content: "\e68c";
}

.icon-vant-hot-sale-o:before {
  content: "\e68d";
}

.icon-vant-pending-payment:before {
  content: "\e68e";
}

.icon-vant-photograph:before {
  content: "\e68f";
}

.icon-vant-lock:before {
  content: "\e690";
}

.icon-vant-qr-invalid:before {
  content: "\e691";
}

.icon-vant-play:before {
  content: "\e692";
}

.icon-vant-phone-circle-o:before {
  content: "\e693";
}

.icon-vant-passed:before {
  content: "\e694";
}

.icon-vant-empty:before {
  content: "\e695";
}

.icon-vant-play-circle:before {
  content: "\e696";
}

.icon-vant-printer:before {
  content: "\e697";
}

.icon-vant-question:before {
  content: "\e698";
}

.icon-vant-search:before {
  content: "\e699";
}

.icon-vant-play-circle-o:before {
  content: "\e69a";
}

.icon-vant-send-gift-o:before {
  content: "\e69b";
}

.icon-vant-plus:before {
  content: "\e69c";
}

.icon-vant-medel-o:before {
  content: "\e69d";
}

.icon-vant-photo-o:before {
  content: "\e69e";
}

.icon-vant-point-gift:before {
  content: "\e69f";
}

.icon-vant-eye-o:before {
  content: "\e6a0";
}

.icon-vant-service:before {
  content: "\e6a1";
}

.icon-vant-question-o:before {
  content: "\e6a2";
}

.icon-vant-goods-collect:before {
  content: "\e6a3";
}

.icon-vant-setting-o:before {
  content: "\e6a4";
}

.icon-vant-setting:before {
  content: "\e6a5";
}

.icon-vant-refund-o:before {
  content: "\e6a6";
}

.icon-vant-records:before {
  content: "\e6a7";
}

.icon-vant-shop-collect:before {
  content: "\e6a8";
}

.icon-vant-points:before {
  content: "\e6a9";
}

.icon-vant-flag-o:before {
  content: "\e6aa";
}

.icon-vant-point-gift-o:before {
  content: "\e6ab";
}

.icon-vant-star-o:before {
  content: "\e6ac";
}

.icon-vant-shop:before {
  content: "\e6ad";
}

.icon-vant-sign:before {
  content: "\e6ae";
}

.icon-vant-qr:before {
  content: "\e6af";
}

.icon-vant-shrink:before {
  content: "\e6b0";
}

.icon-vant-stop-circle-o:before {
  content: "\e6b1";
}

.icon-vant-smile-o:before {
  content: "\e6b2";
}

.icon-vant-tv-o:before {
  content: "\e6b3";
}

.icon-vant-scan:before {
  content: "\e6b4";
}

.icon-vant-smile-comment-o:before {
  content: "\e6b5";
}

.icon-vant-umbrella-circle:before {
  content: "\e6b6";
}

.icon-vant-todo-list:before {
  content: "\e6b7";
}

.icon-vant-todo-list-o:before {
  content: "\e6b8";
}

.icon-vant-underway-o:before {
  content: "\e6b9";
}

.icon-vant-shop-o:before {
  content: "\e6ba";
}

.icon-vant-shopping-cart-o:before {
  content: "\e6bb";
}

.icon-vant-video:before {
  content: "\e6bc";
}

.icon-vant-user-o:before {
  content: "\e6bd";
}

.icon-vant-share:before {
  content: "\e6be";
}

.icon-vant-replay:before {
  content: "\e6bf";
}

.icon-vant-vip-card:before {
  content: "\e6c0";
}

.icon-vant-volume-o:before {
  content: "\e6c1";
}

.icon-vant-warning-o:before {
  content: "\e6c2";
}

.icon-vant-wap-home:before {
  content: "\e6c3";
}

.icon-vant-stop-circle:before {
  content: "\e6c4";
}

.icon-vant-wechat:before {
  content: "\e6c5";
}

.icon-vant-warn-o:before {
  content: "\e6c6";
}

.icon-vant-service-o:before {
  content: "\e6c7";
}

.icon-vant-tosend:before {
  content: "\e6c8";
}

.icon-vant-youzan-shield:before {
  content: "\e6c9";
}

.icon-vant-thumb-circle-o:before {
  content: "\e6ca";
}

.icon-vant-smile-comment:before {
  content: "\e6cb";
}

.icon-vant-volume:before {
  content: "\e6cc";
}

.icon-vant-video-o:before {
  content: "\e6cd";
}

.icon-vant-vip-card-o:before {
  content: "\e6ce";
}

.icon-vant-underway:before {
  content: "\e6cf";
}

.icon-vant-user-circle-o:before {
  content: "\e6d0";
}

.icon-vant-wap-nav:before {
  content: "\e6d1";
}

.icon-vant-weapp-nav:before {
  content: "\e6d2";
}

.icon-vant-shopping-cart:before {
  content: "\e6d3";
}

.icon-vant-success:before {
  content: "\e6d4";
}

.icon-vant-send-gift:before {
  content: "\e6d5";
}

.icon-vant-upgrade:before {
  content: "\e6d6";
}

.icon-vant-shop-collect-o:before {
  content: "\e6d7";
}

.icon-vant-star:before {
  content: "\e6d8";
}

.icon-vant-stop:before {
  content: "\e6d9";
}

